.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding-left: 18vw;
  padding-top: 5.5rem;
  padding-bottom: 10%;
}
@media (max-width: 800px) {
  .container{
    padding: 0;
    padding-top: 5.5rem;
    padding-bottom: 20%;
  }
}